@for $i from 0 to 4 {
  @for $j from 0 to 4 {
    @if $i != $j {
        .col_from_#{$i}_to_#{$j} {
          animation-name: col_#{$i}_#{$j};
          animation-duration: 0.20s;
        }

        @keyframes col_#{$i}_#{$j} {
          from {
            left: 125px * $i + 8px;
          }
          to {
            left: 125px * $j + 8px;
          }
        }

        .row_from_#{$i}_to_#{$j} {
          animation-name: row_#{$i}_#{$j};
          animation-duration: 0.20s;
        }

        @keyframes row_#{$i}_#{$j} {
          from {
            top: 125px * $i + 8px;
          }
          to {
            top: 125px * $j + 8px;
          }
        }
    }
  }
}
