
@keyframes newTile {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes popup_as_merged {
  from {
    transform: scale(0);
  }
  to {
    z-index: 20;
    transform: scale(1);
  }
}

// @keyframes popup_as_merged_2 {
//   from {
//     transform: scale(0);
//   }
//   to {
//     z-index: 20;
//     transform: scale(1);
//   }
// }

@for $i from 0 to 4 {
  @for $j from 0 to 4 {
    @if $i != $j {
        .col_from_#{$i}_to_#{$j} {
          animation-name: col_#{$i}_#{$j};
          animation-duration: 0.20s;
        }

        @keyframes col_#{$i}_#{$j} {
          from {
            left: 24.5% * $i + 1%; // left margin offset
          }
          to {
            left: 24.5% * $j + 1%; // left margin offset
          }
        }

        .row_from_#{$i}_to_#{$j} {
          animation-name: row_#{$i}_#{$j};
          animation-duration: 0.20s;
        }

        @keyframes row_#{$i}_#{$j} {
          from {
            top: 24.5% * $i + 1%; // top margin offset
          }
          to {
            top: 24.5% * $j + 1%; // top margin offset
          }
        }
    }
  }
}
