$board-color: #baa;
$light-blue: #3fb1f7;
$tile-grey: #eee;
$cell-brown: #dcb;
$text-brown: #766;
$overlay-grey: #D3D3D3;
$overlay-white: #ffffff;
$color-white: #fff;
$button-box-shadow-color: rgba(102, 122, 134, 0.51);
$light-teal: #02ccba;
$light-teal-blue-gradient: linear-gradient(to bottom right, #02b3e4, #02ccba);
$dark-teal: rgba(32, 82, 101, 0.66)
