@import 'colors.scss';
@import 'cell.scss';
@import 'board.scss';
@import 'score.scss';

#container {
  user-select: none;
  cursor: default;
}

.game-view {
  margin: 1vh 1vw;
  width: 98vw;
  height: 98vh;
  background-color: $color-white;
}

.button {
  transition: box-shadow 0.2s ease;
  color: $color-white;
  background-color: $light-blue;
  box-shadow: 5px 10px 15px 1px $button-box-shadow-color;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 11px;

  &:hover {
    transition: box-shadow 0.2s ease;
    box-shadow: 3px 5px 20px 0px $button-box-shadow-color;
  }
}

.overlay {
  width: 82vmin;
  height: 82vmin;
  z-index: 30;
  background-color: $overlay-white;
  position: absolute;
  opacity: 0.6;
  align-items: center;
  font-size: 23px;
  text-align: center;

  &.hide {
    display: none;
  }
}

.overlay_text {
  position: relative;
  top: 33%;
  padding: 35px;
  color: #2d1212;
  font-size: 27px;
}

.restart {
  position: relative;
  top: 35%;
  background-color: #19c164;
  font-size: 36px;
  padding: 11px;
  width: 50%;
  margin: auto;
}

.row {
  display: flex;
  position: relative;
}
