@import 'colors.scss';
@import 'cell.scss';
@import 'board.scss';

#container {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  cursor: default;
}

.game-view {
  margin: 1vh 1vw;
  width: 98vw;
  height: 98vh;
  background-color: $color-white;
}

.button {
  transition: box-shadow 0.2s ease;
  color: $color-white;
  background-color: $light-blue;
  box-shadow: 5px 10px 15px 1px $button-box-shadow-color;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 11px;

  &:hover {
    transition: box-shadow 0.2s ease;
    box-shadow: 3px 5px 20px 0px $button-box-shadow-color;
  }
}

.score {
  width: 100%;
  padding-bottom: 20px;
  font-family: Arial;

  & .max-score {
    background-color: $light-teal;
    display: inline-block;
    float: left;
  }

  & .current-score {
    display: inline-block;
    float: right;
  }
}
.overlay {
  min-height: 500px;
  min-width: 500px;
  z-index: 30;
  background-color: $overlay-white;
  position: absolute;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  flex: 0 0 100%;
  text-align: center;
  flex-direction: column;

  &.hide {
    display: none;
  }
}

.overlay_text {
  padding: 35px;
  flex: 0 0 100%;
  color: #2d1212;
  font-size: 27px;
}

.restart {
  flex: 0 0 100%;
  border: 2px solid #2d1212;
  border-radius: 6px;
  font-size: 36px;
  padding: 11px;
  box-shadow: 10px 10px 5px #888888;

  &:hover {
    background-color: #fff;
  }
}

.row {
  display: flex;
  position: relative;
}
