
$board-color: #baa;
$light-blue: #E0F2FD;
$tile-grey: #eee;
$cell-brown: #dcb;
$text-brown: #766;
$overlay-grey: #D3D3D3;

body {
  margin: 0;
}

#container {
  background-color: $board-color;
  height: 400px;
  width: 400px;
  // display: flex;
  // min-height: 400px;
  // align-items: center;// vertical center
  // justify-content: center; // horizontal center
  // padding: 100px;
  // flex-direction: row;
  // -webkit-user-select: none;  /* Chrome all / Safari all */
  // -moz-user-select: none;     /* Firefox all */
  // -ms-user-select: none;      /* IE 10+ */
  // cursor: default;
}

.board {
  // padding: 7px;
  // border-radius: 20px;
  // min-height: 500px;
  // min-width: 500px;
  // background-color: $board-color;
  // position: relative;
  // z-index: 10;
}
