@import 'animation.scss';

$board-color: #baa;
$light-blue: #E0F2FD;
$tile-grey: #eee;
$cell-brown: #dcb;
$text-brown: #766;

#container {
  display: flex;
  min-height: 400px;
  align-items: center;// vertical center
  justify-content: center; // horizontal center
  padding: 100px;
  // background-color: $light-blue;
  flex-direction: row;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  cursor: default;
}

.board {
  padding: 7px;
  border-radius: 20px;
  min-height: 500px;
  min-width: 500px;
  background-color: $board-color;
  position: relative;
  z-index: 10;
}

.row {
  display: flex;
  position: relative;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: $cell-brown;
  border-radius: 5px;
  color: $text-brown; // color property is reserved for font-color
  font-family: "Clear Sans";
  font-size: 50px;
  margin: 5px;
  height: 115px;
  width: 115px;
  min-height: 60px;
  min-width: 60px;

  &.merged {
    z-index: 15;
  }

  &.mergedInto {
    z-index: 20;
  }

  &.new {
    position: absolute;
    animation-duration: 0.20s;
    animation-name: newTile;
    animation-fill-mode: forwards;
    animation-delay: 0.05s;
    transform: scale(0);
  }

  &.value-2 {
    position: absolute;
    background-color: #eee;
  }

  &.value-4 {
    position: absolute;
    background-color: #eec;
  }

  &.value-8 {
    position: absolute;
    color: #ffe;
    background-color: #fb8;
  }

  &.value-16 {
    position: absolute;
    color: #ffe;
    background-color: #f96;
  }

  &.value-32 {
    position: absolute;
    color: #ffe;
    background-color: #f75;
  }

  &.value-64 {
    position: absolute;
    color: #ffe;
    background-color: #f53;
  }

  &.value-128 {
    position: absolute;
    color: #ffe;
    background-color: #ec7;
    font-size: 45px;
  }

  &.value-256 {
    position: absolute;
    color: #ffe;
    background-color: #ec6;
    font-size: 45px;
  }

  &.value-512 {
    position: absolute;
    color: #ffe;
    background-color: #ec5;
    font-size: 45px;
  }

  &.value-1024 {
    position: absolute;
    color: #fff;
    background-color: #ec3;
    font-size: 35px;
  }

  &.value-2048 {
    position: absolute;
    color: #fff;
    background-color: #ec2;
    font-size: 35px;
  }
}

@keyframes newTile {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes mergedInto {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}

@for $col from 0 to 4 {
  .col_#{$col} {
    left: 125px * $col + 8px; // 115px: cell size, 5px*2 =10px margin; 8px: padding caused by removal of row element.
  }
}

@for $row from 0 to 4 {
  .row_#{$row} {
    top: 125px * $row + 8px;
  }
}
