$board-color: #baa;
$light-blue: #1b95e0;
$tile-grey: #eee;
$cell-brown: #dcb;

#container {
  display: flex;
  width: 100%;
  min-height: 400px;
  align-items: center;// vertical center
  justify-content: center; // horizontal center
  padding: 100px;
}

.board {
  border-radius: 10px;
  min-height: 300px;
  min-width: 300px;
  height: 40px;
  width: 100px;
  background-color: $board-color
}

.tile {
  min-height: 60px;
  min-width: 60px;
  background-color: $tile-grey;
}

.cell {
  min-height: 60px;
  min-width: 60px;
  background-color: $cell-brown;
}
