$board-color: #baa;
$light-blue: #E0F2FD;
$tile-grey: #eee;
$cell-brown: #dcb;
$text-brown: #766;

#container {
  display: flex;
  min-height: 400px;
  align-items: center;// vertical center
  justify-content: center; // horizontal center
  padding: 100px;
  background-color: $light-blue;
  flex-direction: row;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  cursor: default;
}

.board {
  padding: 7px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  min-height: 500px;
  min-width: 500px;
  background-color: $board-color;
}

.row {
  display: flex;
  position: relative;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $cell-brown;
  border-radius: 5px;
  color: $text-brown; // color property is reserved for font-color
  font-family: "Clear Sans";
  font-size: 50px;
  margin: 5px;
  height: 115px;
  width: 115px;
  min-height: 60px;
  min-width: 60px;
}

.cell.new {
  position: absolute;
  top: 0px;
  animation-duration: 0.20s;
  animation-name: newTile;
  animation-fill-mode: forwards;
  animation-delay: 0.05s;
  transform: scale(0);
}

@keyframes newTile {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.cell.value-2 {
  background-color: #eee;
}

.cell.value-4 {
  background-color: #eec;
}

.cell.value-8 {
  color: #ffe;
  background-color: #fb8;
}

.cell.value-16 {
  color: #ffe;
  background-color: #f96;
}

.cell.value-32 {
  color: #ffe;
  background-color: #f75;
}

.cell.value-64 {
  color: #ffe;
  background-color: #f53;
}

.cell.value-128 {
  color: #ffe;
  background-color: #ec7;
  font-size: 45px;
}

.cell.value-256 {
  color: #ffe;
  background-color: #ec6;
  font-size: 45px;
}

.cell.value-512 {
  color: #ffe;
  background-color: #ec5;
  font-size: 45px;
}

.cell.value-1024 {
  color: #fff;
  background-color: #ec3;
  font-size: 35px;
}

.cell.value-2048 {
  color: #fff;
  background-color: #ec2;
  font-size: 35px;
}

@for $col from 0 to 4 {
  .col_#{$col} {
    left: 125px * $col; // 115px: cell size, 5px*2 =10px margin
  }
}






